{% extends 'mainapp/base.html' %}


{% block content_title %}
    
    <h2>{{ account_name }}</h2>

{% endblock %}

{% block content %}

<div class="account-wrap">
    <div class="account-common">
        <div class="account-photo-wrap">
            <img src="{{ photo }}" alt="" class="account-photo">
            {% if is_horse and is_admin or not is_horse and is_self_or_admin %}
            <div class="input-submit-wrap">
                <a href="{{ edit_url }}" class="input-submit">Редактировать профиль</a>
            </div>
            {% endif %}
        </div>
        <div class="account-mess">
            <div class="table-wrap no-head no-color acc-info" >
                <div class="table-title">
                    <h2>Справочная информация</h2>
                </div>
                <table>
                    <tbody>
                        {% for f in record %}
                        <tr>
                            <td>{{ f.desc }}:</td>
                            {% if f.type == 'text' %}
                            <td>{{ f.value }}</td>
                            {% else %}
                            <td><a href="{{ f.link }}">{{ f.value }}</a></td>
                            {% endif %}
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
            
            {% block additional %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}