{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'mainapp/css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'mainapp/images/favicon.jpg' %}" type="image/x-icon"/>
</head>
<body>
    <div id="header">
        <div class="h-mini"><button id="show-sidebar" class="h-button"><i class="fa-solid fa-bars"></i></button></div>
        <div id="h-center">
            <div id="btn-main-wrap">
                <a href="{% url 'races_list' %}" id="btn-main">
                    <i class="fa-solid fa-horse-head head-horse"></i>
                    <h2 class="main-title">hippodrome</h2>
                    <i class="fa-solid fa-horse-head fa-flip-horizontal head-horse"></i>
                </a>
            </div>
        </div>
        {% if is_login %}
        <div class="h-mini"><a href="{{ self_account }}" id="in-lk" class="h-button"><i class="fa-solid fa-user"></i></a></div>
        <div class="h-mini"><a href="{% url 'logout' %}" id="out-lk" class="h-button"><i class="fa-solid fa-right-from-bracket"></i></i></a></div>
        {% else %}
        <div class="h-mini"><button id="show-lk" class="h-button"><i class="fa-solid fa-right-to-bracket"></i></button></div>
        {% endif %}
    </div>
    <div id="sidebar">
        <ul id="nav" class="site-main-menu site-auto-menu ">
            {% for punkt in side_menu %}
                {% if punkt.pk == punkt_selected %}
                <li  class="active"><a href="{% url punkt.url_name %}" class="pt-trigger">{{punkt.title}}</a></li>
                {% else %}
                <li><a href="{% url punkt.url_name %}" class="pt-trigger">{{punkt.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if not is_login %}
    <div id="auth" class="modal-block">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2>Авторизация</h2>
            <div class="form-group">
                <input type="login" name="username" id="id_username" autocomplete="username" autofocus class="input-text" placeholder="Логин" required="required" data-error="Логин обязателен к заполнению!">
                <div class="input-border"></div>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="id_password" autocomplete="current_password" class="input-text" placeholder="Пароль" required="required" data-error="Пароль обязателен к заполнению!">
                <div class="input-border"></div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="auth-check">
                <label for="auth-check">Запомнить меня</label>
            </div>
            <button type="submit" id="auth-subm" class="input-submit">Войти</button>
        </form>
    </div>
    {% endif %}
    <div id="page-overlay"></div>
    {% block viborky %}
    {% endblock %}
    <div id="content">
        <div id="content-title">
            {% block content_title %}
            {% endblock %}
        </div>
        <div id="content-wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/60a957becd.js" crossorigin="anonymous"></script>
{% if not is_login %}
<script src="{% static 'mainapp/js/showlk.js' %}"></script>
{% endif %}
<script src="{% static 'mainapp/js/script.js' %}"></script>
<script src="{% static 'mainapp/js/img.js' %}"></script>
<script src="{% static 'mainapp/js/sobs.js' %}"></script>
<script src="{% static 'mainapp/js/links.js' %}"></script>
{% block scr_links %}
{% endblock %}
</html>