{% extends 'mainapp/base.html' %}

{% block content_title %}

    <h2>{{ title_table }}</h2>
    {% if is_admin %}
        <a href="{% url add_record %}">Добавить запись</a>
    {% endif %}

{% endblock %}



{% block content %}

    <div class="table-wrap ">
        <div class="table-title">
            <h2></h2>
        </div>
        <table>
            <tbody class="full-table">
                <tr>
                    {% for d in desc_table %}
                        <td>{{ d }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
                {% for e in elem_table %}
                <tr>
                    {% for f in e %}
                        {% if f.type == 'text' %}
                            <td>{{ f.value }}</td>
                        {% else %}
                            <td><a href="{{ f.link }}">{{ f.value }}</a></td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

{% endblock %}