{% extends 'mainapp/base.html' %}
{% load static %}

{% block content_title %}
    
    {% if new_record %}
    <h2>Новый заезд</h2>
    {% else %} 
    <h2>{{ title_race }}</h2>
    {% endif %}

{% endblock %}


{% block viborky %}

    {% for v in list_v %}
    <div id="{{ v.name }}" class="modal-block viborka">
        <div class="v-head">{{ v.title }}</div>
        <div class="v-search">
            <i class="fa fa-search"></i>
            <input type="text" class="input-text">
        </div>
        <div class="table-wrap no-head">
            <div class="table-title">
                <h2></h2>
            </div>
            <table>
                <tbody>
                    {% for r in v.records %}
                    <tr>
                        <td id="id-{{ v.id }}-{{ r.pk }}" url="{{ r.photo }}" class="el-v">{{ r.value }}</td><td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

{% endblock %}



{% block content %}

    <form method="POST" class="race-block">
        {% csrf_token %}
        <div class="race-desc">
            <img id="race-photo" src="{{ photo }}" alt="">
            <div class="city-name">
                <p>Ипподром</p>
                <div class="link r-head-input">
                    <i class="fa-solid fa-link"></i>
                    <input id="hippodrome" name="hippodrome" type="number" value="{{ hippodrome_pk }}">
                    <div class="link-input" for="table_hippodrome">{{ hippodrome }}</div>
                </div>
            </div>
            <div class="table-wrap no-head no-color race-fields">
                <div class="table-title">
                    <button type="submit" class="race-button">Сохранить запись</button>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Заголовок</td>
                            <td><input name="title" type="text" class="input-text" value="{{ title_race }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Дата:</td>
                            <td><input name="date" type="date" class="input-text" value="{{ date }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Время начала:</td>
                            <td><input name="time_begin" type="time" class="input-text" value="{{ time_begin }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Время окончания:</td>
                            <td><input name="time_end" type="time" class="input-text" value="{{ time_end }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Дистанция:</td>
                            <td><input name="distance" type="number" class="input-text" value="{{ distance }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Призовой фонд:</td>
                            <td><input name="summa" type="number" class="input-text" value="{{ summa }}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Организатор</td>
                            <td><input name="org" type="text" class="input-text" value="{{ org }}"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        <div class="race-couples">               
            <div class="input-submit add-couple">Добавить участника</div>
            <div class="table-wrap ">
                <div class="table-title">
                    <h2>Участники заезда</h2>
                </div>
                <table>
                    <tbody id="list-couples">
                        <tr>
                            <td>Лошадь</td>
                            <td>Наездник</td>
                            <td>Результат</td>
                            <td>Время участника</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for c in couples %}
                        <tr>
                            <td>
                                <div class="link">
                                    <i class="fa-solid fa-link"></i>
                                    <input id="couple-{{ c.pk }}-0" name="couple-{{ c.pk }}-0" type="number" value="{{ c.rec.horse.id }}">
                                    <div class="link-input" for="table_horses">{{ c.rec.horse }}</div>
                                </div>
                            </td>
                            <td>
                                <div class="link">
                                    <i class="fa-solid fa-link"></i>
                                    <input id="couple-{{ c.pk }}-1" name="couple-{{ c.pk }}-1" type="number" value="{{ c.rec.jockey.id }}">
                                    <div class="link-input" for="table_jokey">{{ c.rec.jockey }}</div>
                                </div>
                            </td>
                            <td>
                                <input name="couple-{{ c.pk }}-2" type="number" class="input-text" value="{{ c.rec.result }}">
                            </td>
                            <td>
                                <input name="couple-{{ c.pk }}-3" type="time" class="input-text" value="{{ c.rec.time }}">
                            </td>
                            <td>
                                <i class="fa-solid fa-xmark"></i>
                            </td>
                            <td></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table> 
            </div>    
        </div>
    </form>

{% endblock %}

{% block scr_links %}
<script src="{% static 'mainapp/js/race.js' %}"></script>
{% endblock %}